<head>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script type="text/javascript" src="../js/csv.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
  <script type="text/html" id='fillTable'>
    <table id="result" class="center">
      <% _.each(items, function(name) { %>
        <tr class="<%= name.rowClass %>">
          <% _.each(name.value, function(cell) { %>
            <td><%= cell %></td>
          <% }); %>
        </tr>
      <% }); %>
    </table>
  </script>
</head>
<body>
  <textarea type="hidden" autofocus cols = "80" rows = "5" id="original"><%=original%></textarea>
  <button type="button">Mostrar</button><br>
  <span class="output" id="finaltable"></span>
</body>
